<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">CMS HOME</title>
</head>
<!--
    Template home page, menubar + sideBar +test footer
    Page wraps any thymeleaf page that uses it as a decorator-->
<body>
<!-- fragment for menu bar-->
<div th:replace="fragments/static/navbar.html"></div>
<div class="container">
    <div class="columns">
        <div class="columns is-3" th:replace="fragments/static/leftmenu.html"></div>
        <section class="column is-9" layout:fragment="menu">
            Content from page section will be placed here
        </section>
        <div>
            stuuff
        </div>
    </div>
</div>

<div th:replace="fragments/static/footer.html"></div>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>
</html>