<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">CMS HOME</title>
</head>
<!--
    Template home page, menubar + sideBar +test footer
    Page wraps any thymeleaf page that uses it as a decorator-->
<body>
<!-- fragment for menu bar-->
<div th:replace="fragments/static/navbar.html"></div>
<div th:insert="fragments/static/rightmenu.html"></div>

<section layout:fragment="menu">
        Content from page section will be placed here
</section>

<div>
    This is the temp footer hopefully it works
</div>
</body>
</html>