<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar has-shadow" style="bottom:0px; position:absolute; width:100%; background-color:#E0E0E0">

    <div class="navbar-brand">
        <a class="navbar-item brand-text" href="../index.html" style="left:10px">
            IT Support | Privacy Policy | Accessibility | Copyright 2019
        </a>
        <a class="navbar-item brand-text" href="../index.html" style="right:10px; top:6px; position:absolute">
            IT Service Desk Support Email | 613-520-3700
        </a>
    </div>

</nav>
</body>
</html>