<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer is-full">
    <div class="columns is-full">
        <div class="column is-half">
            <a class="brand-text is-left" href="../index.html" style="left:10px">
                IT Support | Privacy Policy | Accessibility | Copyright 2019
            </a>
        </div>
        <div class="column is-half">
            <a class="brand-text is-right" href="../index.html" style="right:10px;">
                IT Service Desk Support Email | 613-520-3700
            </a>
        </div>
    </div>
</footer>
</body>
</html>


