<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Applicants Request</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Process Account Applicant</h1>
    <p>Professors: </p>
    <div th:each="prof:${pending_prof}">
        <a th:text="${prof.getUsername()}"></a>
        <div>
            <a class="button is-small is-primary" th:href="@{/user/add(id=${prof.getId()})}">Approve</a>
        </div>
        <div>
            <a class="button is-small is-primary" th:href="@{/user/delete(id=${prof.getId()})}">Deny</a>
        </div>
    </div>

    <p>Students: </p>
    <div th:each="student:${pending_student}">
        <a th:text="${student.getUsername()}"></a>
        <div>
            <a class="button is-small is-primary" th:href="@{/user/add(id=${student.getId()})}">Approve</a>
        </div>
        <div>
            <a class="button is-small is-primary" th:href="@{/user/delete(id=${student.getId()})}">Deny</a>
        </div>
    </div>
</body>
</html>