<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/mainlayout.html}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div class="card events-card" style="width: 70%;left: 15%;top: 25%;position: absolute;">
    <header class="card-header">
        <p class="card-header-title">
            Courses
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
        </a>
    </header>
    <div class="card-table">
        <div class="content">
            <table class="table is-fullwidth is-striped">
                <tbody>
                <tr th:each="course:${courses}">
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td th:text="${course.getClassCode()}">
                        <h1 th:text="${course.getNumber()}"></h1>
                    </td>
                    <td class="level-right"><a class="button is-small is-primary" href="#">Action</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="card-footer">
        <a href="/courses/addcourse" class="card-footer-item">New Course</a>
    </footer>
</div>

</body>
</html>