
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Carleton Login</title>
    <link rel="stylesheet" href="/css/style_main.css">
</head>

<body>

<section class="hero is-grey-darker is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form action="/login" class="box" method="post">
                        <div class="field">
                            <label for="username" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input type="text" id="username" name="username" placeholder="e.g. bobsmith@gmail.com" class="input" >
                                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="username" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input type="password" id="password" name="password" placeholder="*******" class="input">
                                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="checkbox">
                                <input type="checkbox">
                                Remember me
                            </label>
                        </div>
                        <div class="field">
                            <button class="button is-success" type="submit">
                                Login
                            </button>
                        </div>
                    </form>
                    <br>
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <a href="/requestAccount">Create an Account</a>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</section>
</body>

</html>
