<!DOCTYPE html>
<!--
    ####    USED TO INCLUDE DIALECT + DECORATE TO PICK LAYOUT DESIRED TO WRAP   ####
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/graphlayout.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<!--
    ####    CONTENT YOU WANT TO BE INJECTED INT LAYOUT   ####
-->

<section layout:fragment="menu-graph">
    <div class="pt-6"></div>

                    <!-- display options for the chart
                        - average
                        - skip
                        -gender
                            male female
                    -->
                    <div th:replace="fragments/dynamic/grade_distribution_columnchart.html"></div>
                    <div th:replace="fragments/dynamic/grade_distribution_piechart.html"></div>
                    <div th:replace="fragments/dynamic/grade_distribution_histogram.html"></div>
                    <div class="box">
                        <div class="title">Carleton Grade Report</div>
                            <div class="columns">
                                <div class="column is-four-fifths is-primary">
                                    <div class="box">
                                        content
                                    </div>
                                </div>
                                <div class="column is-one-fifth is-right">
                                    <form th:action="@{/reports}" th:method="post">
                                        <label class="label">Sampling</label>
                                        <ul>
                                            <li>
                                                <label class="checkbox" >

                                                    <input type="checkbox" name="skip" id="skip" th:checked="${req.skip}">
                                                    Skip
                                                </label>
                                            </li>
                                            <li>
                                                <label class="checkbox">
                                                    <input  type="checkbox" name="avg" id="avg" th:checked="${req.avg}">
                                                    Average
                                                </label>
                                            </li>
                                            <li>
                                                <div class="select is-small" >
                                                    <div th:if="${gender}">

                                                    </div>
                                                    <select name="gender" id="gender">
                                                        <option value="ALL">All</option>
                                                        <option value="MALE">Male</option>
                                                        <option value="FEMALE">Female</option>
                                                    </select>
                                                </div>
                                            </li>
                                        </ul>
                                        <br>
                                        <label class="label">Grade Range</label>
                                        <div class="columns">

                                            <div class="column">
                                                <input class="input is-small" id="minRange" name="minRange" placeholder="Lower" th:value="${req.minRange}">
                                            </div>
                                            <div class="column">
                                                <input class="input is-small" id="maxRange" name="maxRange" placeholder="Upper" th:value="${req.maxRange}">
                                            </div>

                                        </div>
                                        <button class="button is-medium is-rounded is-success" type="submit">
                                            SUBMIT
                                        </button>
                                    </form>

                                </div>


                            </div>


                    </div>
    <script th:inline="javascript">
        var real_data = /*[[${chartData}]]*/'noValue';

        $(document).ready(function() {
            google.charts.load('current', {
                packages : [ 'corechart', 'bar' ]
            });
            google.charts.setOnLoadCallback(drawColumnChart);
            google.charts.setOnLoadCallback(drawPieChart);
            google.charts.setOnLoadCallback(drawHistogramChart);
        });

        function drawColumnChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Grade Range');
            data.addColumn('number', 'Amount');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Grade Distribution',
                hAxis : {
                    title : 'Grade Ranges',
                },
                vAxis : {
                    title : 'Number of Students'
                },
                bars: 'vertical',
                bar: { groupWidth: "90%" },
                colors: ['#1b9e77', '#d95f02', '#7570b3'],
                animation: {
                    "startup": true,
                    duration:500,
                    easing: 'out',
                },
            };
            var chart = new google.visualization.ColumnChart(document
                .getElementById('columnchart'));
            chart.draw(data, options);
        }

        function drawPieChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Grade Ranges');
            data.addColumn('number', 'Amount');
            Object.keys(real_data).forEach(function(key) {
                data.addRow([ key, real_data[key] ]);
            });
            var options = {
                title : 'Grade Distribution'
            };
            var chart = new google.visualization.PieChart(document
                .getElementById('piechart'));
            chart.draw(data, options);
        }

        function drawHistogramChart() {
            var data = new google.visualization.DataTable();
            data.addColmn(["Grade Range", "Amount"])
            Object.keys(real_data).forEach(function(key) {
                data.addColumn([ key, real_data[key] ]);
            });


            var options = {
                title: 'Lengths of dinosaurs, in meters',
                legend: { position: 'none' },
            };

            var chart = new google.visualization.Histogram(document.getElementById('histogram'));
            chart.draw(data, options);
        }
    </script>


</section>

<div>
    You shouldn't be able to see this
</div>

</body>
</html>